<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    <title>Testfor</title>
</head>
<body>
<!-- escape 사용해서 동적페이지 해보기 -->

<div>
    {{page}}
    {% set page = page.capitalize() %}
<h1> catdog 클래스 적용 </h1>
  {% for i in range(1,101) %}
        {% if i%15 == 0 %}
            <p class="catdog">{{page}}</p>
        {% elif i%5 == 0 %}
            <p class="cat">{{page}}</p>
        {% elif i%3 == 0 %}
            <p class="dog">{{page}}</p>
        {% else %}
            <p> {{ i }} </p>
        {% endif %}
        {% if i % 10 == 0 %}
            <br>
        {% endif %}
  {% endfor %}
</div>
</body>
</html>