body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
   
   }
   
   /* form  : 폼길이, 마진,패딩, 배경색, 보더 : 두께, 유형, 색상  */
   form {
     max-width: 300px;
     margin: 0 auto;
     padding: 20px;
     background-color: #ffffff;
     border: 1px solid #dddddd;
   }
   
   /* form  input 입력상자 : 길이, 패딩, 마진, 보더, 상자 동글게 */
   
   form input[type="id"],
   form input[type="password"] {
     width: 90%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #cccccc;
     border-radius: 4px;
   }
   
   /* form  input 버튼 : 길이, 패딩,배경색깔, 칼라,보더, 상자 동글게,커서 */
   form .button-container {
     display: flex;
     justify-content: space-between;
   }
   /* class는 '.'으로 호출 */

   /* 
   div가 button과 submit 관리
   form이 부모 container
   div가 자식 container 
   =>자세한 설명은 mybutton.txt로
   */
   form[name="myform"] input[type="button"],
   form[name="myform"] input[type="submit"] {
     flex: 1;
     /* class와 연결되는 flex. */
     margin-right: 10px;
     padding: 10px;
     background-color: #4CAF50;
     color: #ffffff;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }
   
   /* placeholder 의 색깔 지정해 보자. :: ~ 의 것   */
   /*
      단일콜론  (: )  -> 의사클래스 -> 동작  
      다중콜론 (::)   -> 의사 요소 -> 속성
   
   */
   form input[type="text"]::placeholder, 
   form input[type="password"]::placeholder{
      color: #999999;
   }
   
   /* css로 기능 제어 */
   form input[type="button"]:hover, 
   form input[type="submit"]:hover{
   
       background-color: crimson;
   }