<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Index</title>
</head>
<body>
<div class="container">
     <div class="header">
     <h3   class= "text-muted"> message=my_dict  </h3>
        {% if message  %}
         <p>name :  {{ message.name  }} </p>
         <p> age :  {{ message.age  }} </p>
        {% endif %}
    </div>
    <div class = "header">
        {% for key, value in message.items() %}
            <dt>{{ key|e }}</dt>
            <dd>{{ value|e }}</dd>
        {% endfor %}
    </div>

</div>
</body>
</html>