<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Edit User</h1>
        <form method="POST" action="{{url_for('update_user',user_id=user.id)}}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" name="age" value="{{ user.age }}" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label><br>
                <input type="radio" id="gender_choice1" name="gender" value="{{ user.gender }}" required >
                <label for="gender_choice1">Male</label>

                <input type="radio" id="gender_choice2" name="gender" value="{{ user.gender }}" required>
                <label for="gender_choice2">Female</label>

                <input type="radio" id="gender_choice3" name="gender" value="{{ user.gender }}" required>
                <label for="gender_choice3">Other</label>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required value = "{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="3" value = "{{ user.message }}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
</body>
</html>
